@charset "UTF-8";

@font-face {
    font-family: 'Outfit-Black';
    src: url(assets/fonts/outfit/static/Outfit-Black.ttf);
}

@font-face {
    font-family: 'YoungSerif';
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

:root {
    --corp0: hsl(14, 45%, 36%);
    --corp1: hsl(332, 51%, 32%);

    --corn0: hsl(0, 0%, 100%);
    --corn1: hsl(330, 100%, 98%);
    --corn2: hsl(30, 54%, 90%);
    --corn3: hsl(30, 18%, 87%);
    --corn: hsl(30, 10%, 34%);
    --corn: hsl(24, 5%, 18%);

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Outfit-Black', Arial, sans-serif;
    --fonte-destaque1: 'YoungSerif', Arial, sans-serif;
}


* {
    padding: 0px;
    margin: 0px;
}

img {
    width: 700px;
    margin: 6%;
    border-radius: 30px;
}

.h1omelette {
    margin-top: -2%;
}

body {
    background-color: var(--corn2);
}

main {
    background-color: white;
    width: 800px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 30px;  
}

section.preparation {
    background-color: var(--corn1);
    border-radius: 30px;
    padding: 2px;
    width: 650px;
    margin: auto;
    
}

.h4preparation {
    margin-top: 30px;
}

h1, h2, h3, p{
    margin: 50px;
}

h4 {
    margin: 50px;
    font-weight: 700;
    font-size: 20px;    
}

ul , ol{
    margin: 65px;
}

p {
    text-indent: #;
}

tr, td{
    border: 1px solid black;
    padding: 10px;
}

